:root {
  --red: #dd1523;
  --blue: #40b7e6;
  --white: #ffffff;
  --gray: #eaeaea;
  --dark_gr: #7f7f7f;
  --font-big: 'Big Shoulders', sans-serif;
  --font-small: 'Roboto', sans-serif;
  --font-small-cond: 'Roboto Condensed', sans-serif;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 10px;
  color: var(--black);
  box-sizing: border-box;
  overscroll-behavior-y: none;
}

h1 {
    font-family: var(--font-big);
    color: var(--blue);
    text-transform: uppercase;
    font-size: 5rem;
    margin: 0;
}

p {
    font-family: var(--font-small);
    color: var(--dark_gr);
}

.hero_image_desktop {
    max-width: 800px;
}